h1{color: #FB6F92;
  font-size:tamaño/larger;
  text-decoration:underline;}
  h3{color: #FB6F92;
    font-size:tamaño/x-large;
    text-decoration:underline;}

    body{background-color: #B0EFEF;}

    p{text-align: center;}

    img {width: 500px;
         height: auto;}
